* {
    margin: 0px;
    padding: 0px;
}

.titulosbloque {
    font: bold 23px "titillium web", sans-serif;
    background: black;
    margin: 12px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 13px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
    padding: -2; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px;
    color: white;
    
}

header, section, footer, aside, nav, {
display: block;
}

#inicio{
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    width: 960px;
    margin: 16px auto;
    margin-top: 0px;
}

#imginicio {
    width: 960px;
}

#menu {
    background: transparent;
    padding: 5px;
    text-align: center;
    text-decoration:none;
} 

#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 3px;
    font: bold 17px 'Titillium Web', sans-serif;
    box-shadow: #c1c1c1 0px 2px;
    background: white;
    border-radius: 3px;
    transition: ease-in-out 0.2s;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
    
}

#menu li:hover {
    transform: scale(1.05, 1.05);
    background: white;
    box-shadow: #848484 0px 3px;
    
}

#bloque {
    float: right;
    width: 630px;
    margin: 10px;
    background: white;
    text-align: center;
    border-radius: 5px;
}

#columnaizq {
    float: left;
    width: 250px;
    margin: 10px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 9px;
    background: white;
    text-align: center;
    border-radius: 5px;
}


#juegospc li{
    display: inline-block;
    list-style: none;
    padding: 3px;
    /*padding-bottom: 25px;*/
    background: black;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding-bottom: 0px;
    
}

a:hover {
    color: black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active{
    color: black;
}

.letaside {
    font: bold 20px "titillium web", sans-serif;
    background: black;
    margin: 7px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 13px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
    padding: -2px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px;
    color: white;
}

#titleradio {
    font: bold 16px "titillium web", sans-serif;
    color: white;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none; /* Codigo para hacer "no seleccionable" el texto*/
}

#radio {
    position: fixed;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 100;
    bottom: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /*Transparencia en negro*/
    padding-right: 15px;
    padding-left: 15px;
}

#letpie {
    font: 14px "titillium web", sans-serif;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;    
    color: white;
}

#foot {
    background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
    clear: both;

}
.subtitlesdouble {
    font: 13px "titillium web", sans-serif;
    color:white;
    float: top;
    margin: -6px;
    margin-top: -6px;
    margin-bottom: -1px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.subtitleonce {
    font: 13px "titillium web", sans-serif;
    color:white;
    float: bottom;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 5px;   
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.img:hover{
    transition: ease-in-out 0.2s;
    transform: scale(0.98, 0.98);
}

#descargas li {
    list-style: none;
    padding: 3px;
    background: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    border-radius: 5px;
    padding-bottom: 0px;
    
}

.ndescargas{
    font: 16px "titillium web", sans-serif;
    color:white;
    float: top;
    margin: -6px;
    margin-top: -6px;
    margin-bottom: -1px;
    padding-bottom: 3px;
    padding-top: 3px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

#descargas li img:hover{
    transition: ease-in-out 0.2s;
    transform: scale(0.98, 0.98);
}

.subtitlesdoublejpc {
    font: 14px "titillium web", sans-serif;
    color:white;
    text-align: center;
    float: bottom;
    margin: -6px;
    margin-top: -5px;
    margin-bottom: -1px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.subtitleoncejpc {
    font: 16px "titillium web", sans-serif;
    text-align: center;
    color:white;
    float: bottom;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 5px;   
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.serv {
    font: 12px "titillium web", sans-serif;
    color:white;
    text-align: center;
    float: bottom;
    padding: 0px;
    margin-top: -10px;
    padding-bottom: 5px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.imgserv {
    text-align: center;
    padding: 3px;
    margin: 0px;
    margin-right: -5px;
    margin-top: 5px;
    padding-left: 3px;
    padding-right: 0px;
    margin-bottom: -10px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.lists{
    text-align: left;
    padding-left: 22px;
}

#cover {
    width: 90%;
    border: 4px solid black;
}

.slides {
    width: 85%;
    margin: 5px auto;
    margin-bottom: 20px;
    border-top: 3px solid black; 
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.slides img {
    width: 100%;
}

.slidesjs-pagination{
    background: black;
    list-style: none;
    overflow: hidden;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.slidesjs-pagination li {
    float: center;
}

.slidesjs-pagination li a {
    font: 15px "titillium web", sans-serif;
    display: block;
    padding: 1px 9px;
    color: white;
    background: black;
    
}

.slidesjs-pagination li a:hover{
    background: white;
    color: black;
}

.slides .active {
    background: white;
    color: black;
}

.contiene {
    padding-left: 35px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-right: 35px;
}

.contiene p {
    font: 15px "titillium web", sans-serif;
    text-align: left;
    margin-top: -5px;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.crop {
    float:center;
     margin: 0px 26px;
    margin-bottom: 10px;
     overflow:hidden;
     border:4px solid black;
}

.crop img{
 margin: -50px 0px -80px 0px;
 }

.moar {
    margin-bottom: 20px;
}

#cont1 {
position: absolute;
top: 370px;
left: 75px;
width: 100%;
}

#cont2 {
position: absolute;
top: 563px;
left: 55px;
width: 100%;
}

#cont3 {
position: absolute;
top: 756px;
left: 20px;
width: 100%;
}

h2 span {

color: white;
font: bold 35px "titillium web", Sans-Serif;
letter-spacing: -1px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.7);
padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.lab1:hover {
    filter: blur(2px);
}